VITE_SUPABASE_URL=https://vqbnzcknflwuhbiznuim.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YKSbWVBxAltMjpIxGhNAIg_Ga8B9xST
GEMINI_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
VITE_ADMIN_PHONE=919219345455
